@import url('https://fonts.googleapis.com/css2?family=Jersey+20+Charted&family=Jersey+25&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jersey+20+Charted&family=Jersey+25&display=swap');


.logo {
  font-family: "Jersey 25", sans-serif;
 font-size: 35px;
 }
 .content h1 {
  
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
     color: #fff;
     font-size: 2cm;
  
 }
 .content {
  margin-top: 5.4cm;

 }

 .content p {
color: #fff;


 }
 #one {
  margin-left: -2cm;
 }
 body {
  overflow-x: hidden;
 }
 #tr {
  margin-left: -2cm;
 }
 #tw {
  display: 2cm;
 }
.cart p {
  height: 22px;
  width: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 22px;
  background-color: goldenrod;
  margin-top: -20px;
  margin-left: -4px;
}
.cart  {
margin-bottom: 1.2cm;

   
}
.cart img {
  height: 1cm;
  width: auto;
  
}
 