@import url('https://fonts.googleapis.com/css2?family=Jersey+20+Charted&family=Jersey+25&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jersey+20+Charted&family=Jersey+25&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');


.logo {
  font-family: "Jersey 25", sans-serif;
 font-size: 35px;
 }
 .content h1 {
  
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
     color: #fff;
     font-size: 2cm;
  
 }
 .content {
  margin-top: 5.4cm;

 }

 .content p {
color: #fff;


 }
 #one {
  margin-left: -2cm;
 }
 body {
  overflow-x: hidden;
 }
 #tr {
  margin-left: -2cm;
 }
 #tw {
  display: 2cm;
 }
.cart p {
  height: 22px;
  width: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 22px;
  background-color: goldenrod;
  margin-top: -20px;
  margin-left: -4px;
}
.cart  {
margin-bottom: 1.2cm;

   
}
.cart img {
  height: 1cm;
  width: auto;
  margin-top: 2cm;
  cursor: pointer;
  margin-left: 0.2cm;
  
}
#navbar {
  position: fixed;
  color: #fff; /* Couleur du texte */
  padding: 10px 20px; /* Espacement à l'intérieur de la navbar */
  z-index: 1000; 
}
.cart-message {
  display: none;
  position: absolute;
  top: 15px;
  left: 75%;
  transform: translateX(-50%);
  background-color:#B28257;
  color: #fff;
  padding: 5px 10px;
  border-radius: 30px;
  font-size: small;
 
}
.card-titel {
box-shadow: 2px 2px 2px 2px ;
background-color: rgba(143, 79, 31, 0.507);
border-radius: 16px;
margin-left: 5cm;
font-family: "Poetsen One", sans-serif;
font-weight: 400;
font-style: normal;

}
.contact-title {
  font-family: "Poetsen One", sans-serif;
  color: #B28257;
  
}
.content {
  font-family: "Poetsen One", sans-serif;
}
label {
  font-family: "Poetsen One", sans-serif;
  color: #B28257;
}
.contact-us input  {
  box-shadow: 2px 2px 2px;
} 
.contact-us  textarea {
  box-shadow: 2px 2px 2px;

}
.btn1 {
  color: #B28257;
}


 